*{
    font-family: 'Montserrat', sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    width:100%;
    height:100%;
}

/*header css start*/
.header{
    background-color: #1f2937;
    color:#F9FAF8;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    width:100%;
    padding-left: 10%;
    padding-right:10%;
}
ul{
    display: flex;
    gap: 18px;
    justify-content: flex-end;
    list-style: none;
    margin:0px;    
}
.right-hero img{
    max-width: 200px;
    max-height: 280px;
}
/*header css end*//*header css end*//*header css end*/


a{
    text-decoration: none;
    color:#F9FAF8;
}


.hero{
    width:100%;
    height:100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #1f2937;
    color: #F9FAF8;
    height: 50vh;
}
.left-hero{
    width:50%;
    height:100%;
    max-width:1200px;
    padding-left: 10%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrimk: 1;
    
}
.hero .left-hero h1{
    font-weight: 900 ;
    font-size: 48px;
    margin-bottom: 1rem;
}
.hero .left-hero text{
    font-size: 18px;
    margin-bottom: 1rem;
}
button{
    background-color: #3882F6 ;
    font-size: 16px;
    padding:12px 28px;
    border-radius: 8px;
    border-color: #3882F6;
    color: #F9FAF8;
    transition-duration: 0.4s;
}
button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}
.right-hero{
    width:50%;
    height:100%;
    max-width:1200px;
    padding-top: 20px;
    padding-right: 40%;
    justify-content: center;
    flex-direction: column;
    align-content: flex-end;
}
.babypic{
    position: absolute;
    right: 10%
}
/* header css end*//*header css end*//*header css end*/

.info{
    padding-left:10%;
    padding-right:10%;
    text-align: center;
    color:#1f2937;
}
.title{
    font:36px;
    font-weight: 600;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 48px;
}
.text{
    text-align: center;
    padding-top: 12px;
    font:18px;
    padding-bottom: 2rem;
}
.cards a{
    color:#1f2937;
    text-decoration: underline;

}
/* info css end*//*info css end*//*info css end*/



.quote{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    color: #1f2937;
    height: 30vh;
    padding-left:10%;
    padding-right:10%;
    justify-content: center;

}
.quote h3{
    text-align: center;
    padding-bottom: 2rem;
}
.mom-quote{
    text-align: center;
}
.mom{
    padding-left: 70% ;
}
/* info css end*//*info css end*//*info css end*/

.CTA{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    background-color: #F9FAF8;
    height: 30vh;
    padding-top:2rem;
    padding-bottom: 2rem;
    justify-content: center;
    align-content: center;
}
.cta{
    display: flex;
    flex-direction: column;
    background-color: #3882F6;
    padding-left:8%;
    padding-right: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
    color:#F9FAF8;
    justify-content: center;
    width:100%
}
.cta .text{
    text-align: center;
    padding-bottom: 12px;
}
.button-2{
    margin-left:75%;
    length:64px;
    height:8px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-color: #F9FAF8;
}

/* cta css end*//*cta css end*//*cta css end*/

.footer{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #1f2937;
    height: 8vh;
    padding-left:10%;
    padding-right:10%;
    color:#F9FAF8;
    justify-content: center;
    align-content: center;
}


    

